/*Changes the background color*/
body{
    background-color: rgb(188, 118, 238);
    /*image made by Jimmy Le*/
    background-image: url("../images/texture1.png");
}



/*This css parts affects the input area in the form that uses texts to make it more appealing to the eye*/
input, textarea {
    border-radius: 10px;
    background: rgb(249, 230, 255);
    border-color: rgb(253, 35, 118);
    border-radius: 10px;
}
/*Adding a border-box to ensure the size of the task description*/
textarea{
    box-sizing: border-box;
    vertical-align: top;
}
/*Adding a nice pale color and making the color darker to create a nice contrast, added some curve on the border to make it feel more soft*/
article, footer, #header {
    background-color: rgb(171, 247, 188);
    border-width: 5px;
    border-radius: 35px;
    border-color: rgb(114, 219, 137);
    color: rgb(34, 172, 114);
    border-style: inset;
    /*image made by Jimmy Le*/
    background-image: url("../images/texture3.png");
    min-width: 478px;
    max-width: 478px;
}
/*To make the h1 look nicer within the box*/
h2 {
    margin-left: 11px;
}
/*To push the labels a bit further from the border*/
label, #fakeLabel {
    margin-right: 1px;
    margin-left: 12px;
    
}
/* represents the "Choose category" */
#fakeLabel {
    margin-top: -2px;
}

/*Changing the task color boxes to a nice soft color that is different from the form.*/
.taskBox {
    background-color: rgb(239, 222, 253);
    border-color: rgb(244, 174, 252);
    color: rgb(145, 60, 153);
}
/*posistioning the post button so that it does not overlap witht the border*/
#post {
    position: relative;
    left: 20px;
    top: -5px;
}
/*positioning the clear all button so that it does not overlap with */
#clear {
    position: relative;
    left: 20px;
    top: -5px;   
}
/*making the task boxs a flex box*/
.template {
    display: flex;
    flex-direction: column;
}
/*to sytle the interior of the task box I made it a flex box */
.taskBox {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    min-height: 100px;
    padding: 5px;
    min-width: 475px;
    max-width: 475px;
}
/*giving the task name a specific dimension box and making it so that it does overflow into the other fields*/
.taskName {
    width: 200px;
    min-width: 100px;
    border-style: unset;
    overflow-wrap: break-word;
}
/*giving the clear box a specific place ensuring that things will not overlap on it*/
.clearBox {
    justify-self: flex-end;
    order: 5;
    border-style: unset;
}
/*Making sure the description does not everflow into anything*/
.taskDescription {
    width: 325px;
    min-width: 100px;
    border-style: unset;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin-left: 10px;
}
/*making sure that the word finished task stays close to the */
.fin {
    order: 6;
    border-style: unset;
    justify-self: flex-end;
}
/*making sure that the templates do not show when the websites first loads*/
#test1 {
    display: none;
}
#test2 {
    display: none;
}

/*Making the header look better*/
#header{
    display:flex;
    justify-content: center;
    border-radius: 15px;
}


/*Making the footer look better*/
footer {
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
/*adding the color categories*/
.schoolCategory {
    border-color: blue;
    border-style: solid;
    height: 25px;
}
.workCategory {
    border-color: crimson;
    border-style: solid;
    height: 25px;
}
.personalCategory {
    border-color: darkmagenta;
    border-style: solid;
    height: 25px;
}